
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root{
    color: none !important;
    
}